<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="bookingtext">Alphabetical</option>
        <option value="date">Newest</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="transactions">
        <li ng-repeat="transaction in transactions | filter:query | orderBy:orderProp" class="thumbnail">
          <a href='#/transactions/{{ transaction.id }}'>{{ transaction.bookingtext }}</a>
        </li>
      </ul>

    </div>
  </div>
</div>
